backports.entry-points-selectable
click
cycler
distlib
filelock
Flask
Flask-SQLAlchemy
greenlet
gunicorn
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
platformdirs
pyparsing
SQLAlchemy
virtualenv
Werkzeug
